</main>
  <!-- FOOTER -->
  <footer class="footer mt-5 py-4" id="about">
  <div class="container text-center">

    <div class="footer-social my-3" role="navigation" aria-label="Redes sociales">
      <a class="social-icon facebook" aria-label="Facebook" title="Facebook"></a>
      <a class="social-icon instagram" aria-label="Instagram" title="Instagram"></a>
      <a class="social-icon x" aria-label="X (Twitter)" title="X (Twitter)"></a>
    </div>

    <div class="footer-info mb-3">
      <p class="mb-1 small">📍 Calle Gran Vía 25, Madrid, España | 📧 contacto@sneakersstore.com | 📞 +34 600 123 456</p>
    </div>

    <p class="small mb-0 opacity-75">
      © 2025 Sneakers Store — Proyecto Fundamentos de la Web
    </p>
  </div>
</footer>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>